@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,700;1,300;1,500;1,700&display=swap");

/* @font-face {
    font-family: "OpenSans";
    src: url("./fonts/OpenSans-Medium.ttf") format("ttf");
} */

body {
    font-family: "Open Sans", sans-serif;
}

.text-medium-italic {
    font-style: italic;
}
