@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

body {
    font-family: "Inter", sans-serif;
}

.container-md {
    width: 768px;
    margin: 0 auto;
    max-width: 100%;
    box-sizing: border-box;
}

h1 {
    margin: 22px 24px;
    font-weight: 400;
    font-size: 24px;
}

.light-gray-box {
    background-color: #f1f1f1;
}

.light-gray-box img {
    margin: 32px 24px;
    max-width: 100%;
    width: auto;
}

.black-gray-gradient {
    background: linear-gradient(
        95.04deg,
        #393939 0%,
        rgba(57, 57, 57, 0.83) 100%
    );
}

.black-gray-gradient p {
    width: 317px;
    color: white;
    padding: 70px 16.25px;
    max-width: 317px;
    margin: 0 auto;
    font-weight: 400;
    font-size: 18px;
    font-style: italic;
    text-align: center;
}

.snippet {
    width: 688px;
    border-left: 8px solid #24bb0c;
    margin: 0 auto 20px;
    max-width: 100%;
    background-color: #fbfbfb;
    border-radius: 10px;
    box-shadow: 3px 4px 9px -3px rgba(0, 0, 0, 0.18);
}

.snippet .close {
    position: absolute;
    top: 8px;
    right: 12px;
}

.top-margin {
    margin-top: 70px;
}

.snippet:hover {
    box-shadow: 3px 4px 18px -3px rgba(0, 0, 0, 0.31);
    cursor: pointer;
}

.snippet .head-p {
    padding: 25px;
    position: relative;
}

.phone {
    position: fixed;
    bottom: 50px;
    right: 50px;
}

.snippet .head-p p {
    margin: 0;
}

.banana {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.banana div {
    width: 50px;
    height: 50px;
    background: #fdc57b;
}
