@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

body {
    font-family: "Inter", sans-serif;
}

.container-md {
    width: 768px;
    margin: 0 auto;
    max-width: 100%;
    box-sizing: border-box;
}

h1 {
    margin: 22px 24px;
    font-weight: 400;
    font-size: 24px;
}

.light-gray-box {
    background-color: #f1f1f1;
}

.light-gray-box img {
    margin: 32px 24px;
    max-width: 100%;
    width: auto;
}

.black-gray-gradient {
    background: linear-gradient(
        95.04deg,
        #393939 0%,
        rgba(57, 57, 57, 0.83) 100%
    );
}

.black-gray-gradient p {
    width: 317px;
    color: white;
    padding: 70px 16.25px;
    max-width: 317px;
    margin: 0 auto;
    font-weight: 400;
    font-size: 18px;
    font-style: italic;
    text-align: center;
}

.snippet {
    width: 688px;
    border-left: 8px solid #24bb0c;
    margin: 0 auto 20px;
    max-width: 100%;
    background-color: #fbfbfb;
    border-radius: 10px;
}

.snippet:first-child {
    margin-top: 70px;
}

.snippet:hover {
    box-shadow: 18px 16px 80px -18px rgba(0, 0, 0, 0.75);
}

.snippet .head-p {
    padding: 25px;
}

.snippet .head-p p {
    margin: 0;
}
